@charset "UTF-8";

table{
    border-collapse:collapse;
}

td{
    border:1px solid black;
    padding:5px;
    width:80px;
}

#linha2{
    background-color:gray;
}

#b4{
    background-color:yellow;
}
#numeros{
    text-align:center;
}